<ion-view title="工单列表">
  <ion-content>
    <ion-refresher pulling-text="" on-refresh="getByStartAndEnd(false)">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="ticket in tickets" type="item-text-wrap" href="#/tab/tickets/{{ticket.id}}">
        <h3>{{ticket.created}}&nbsp;{{ticket.queue}}&nbsp;{{ticket.status}}</h3>
        <p>{{ticket.description}}</p>
      </ion-item>
      <ion-infinite-scroll distance="10%" icon="ion-loading-c" on-infinite="getByStartAndEnd(true)">
    </ion-list>
  </ion-content>
</ion-view>
